In [1]:
import pandas as pd
import requests as rq
import json

In [2]:
url = 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20210318&stockNo=2317'
response = rq.get(url)
_json_ = json.loads(response.text)
tw2317 = pd.DataFrame(_json_.get('data'),columns=_json_.get('fields'))
tw2317

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,110/03/02,"54,679,187","6,208,416,490",114.50,114.50,112.00,112.00,0.00,"24,377"
1,110/03/03,"90,671,041","10,385,729,569",113.00,116.00,112.00,115.50,+3.50,"36,128"
2,110/03/04,"79,491,784","9,055,229,129",115.50,116.00,112.00,114.50,-1.00,"30,614"
3,110/03/05,"87,263,439","10,007,886,347",113.50,116.00,112.50,115.00,+0.50,"34,097"
4,110/03/08,"54,725,412","6,277,482,760",116.00,116.50,113.00,113.50,-1.50,"23,284"
5,110/03/09,"44,151,477","5,019,110,304",113.00,115.00,112.00,115.00,+1.50,"20,125"
6,110/03/10,"49,011,206","5,676,662,482",116.00,117.00,115.00,115.50,+0.50,"20,545"
7,110/03/11,"76,015,788","8,894,298,610",116.50,118.00,116.00,117.00,+1.50,"36,312"
8,110/03/12,"97,811,913","11,662,163,611",117.50,120.00,117.50,120.00,+3.00,"51,423"
9,110/03/15,"70,166,127","8,428,413,588",120.00,122.00,118.50,121.00,+1.00,"35,682"
10,110/03/16,"93,898,518","11,496,180,042",121.50,123.50,121.00,123.00,+2.00,"46,078"
11,110/03/17,"145,610,279","18,331,370,516",123.50,128.00,123.00,126.00,+3.00,"75,496"
12,110/03/18,"139,458,505","18,102,452,005",128.00,131.50,128.00,129.50,+3.50,"70,643"

In [3]:
response.text

'{"stat":"OK","date":"20210318","title":"110年03月 2317 鴻海             各日成交資訊","fields":["日期","成交股數","成交金額","開盤價","最高價","最低價","收盤價","漲跌價差","成交筆數"],"data":[["110/03/02","54,679,187","6,208,416,490","114.50","114.50","112.00","112.00"," 0.00","24,377"],["110/03/03","90,671,041","10,385,729,569","113.00","116.00","112.00","115.50","+3.50","36,128"],["110/03/04","79,491,784","9,055,229,129","115.50","116.00","112.00","114.50","-1.00","30,614"],["110/03/05","87,263,439","10,007,886,347","113.50","116.00","112.50","115.00","+0.50","34,097"],["110/03/08","54,725,412","6,277,482,760","116.00","116.50","113.00","113.50","-1.50","23,284"],["110/03/09","44,151,477","5,019,110,304","113.00","115.00","112.00","115.00","+1.50","20,125"],["110/03/10","49,011,206","5,676,662,482","116.00","117.00","115.00","115.50","+0.50","20,545"],["110/03/11","76,015,788","8,894,298,610","116.50","118.00","116.00","117.00","+1.50","36,312"],["110/03/12","97,811,913","11,662,163,611","117.50","120.00","117.50","120.00","+3.00","51,423"],["110/03/15","70,166,127","8,428,413,588","120.00","122.00","118.50","121.00","+1.00","35,682"],["110/03/16","93,898,518","11,496,180,042","121.50","123.50","121.00","123.00","+2.00","46,078"],["110/03/17","145,610,279","18,331,370,516","123.50","128.00","123.00","126.00","+3.00","75,496"],["110/03/18","139,458,505","18,102,452,005","128.00","131.50","128.00","129.50","+3.50","70,643"]],"notes":["符號說明:+/-/X表示漲/跌/不比價","當日統計資訊含一般、零股、盤後定價、鉅額交易，不含拍賣、標購。","ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。"]}'